<p id="notice"><%= notice %></p>

<p>
  <strong>Quote:</strong>
  <%= @pearl.quote %>
</p>

<p>
  <strong>User:</strong>
  <%= @pearl.game.title %>
</p>

<p>
  <strong>User:</strong>
  <%= @pearl.user.name %>
</p>

<%= link_to 'Edit', edit_pearl_path(@pearl) %> |
<%= link_to 'Back', pearls_path %>
